<form [formGroup]="form" (ngSubmit)="submit()">
  <div class="form_block">
    <h1 class="title_info">Сертификат</h1>
    <label for="certificate">
      <div class="file_select_block">
        <div class="add_photo">
          <input type="file" class="file_select" id="certificate" accept="image/png , image/jpeg" (change)="onFileSelected($event)">
        </div>
        <p class="info_des">{{file?.name || 'Добавить фото'}}</p>
      </div>
    </label>
  </div>
  <div class="add_data_block">
    <button class="add_data" [disabled]="!file" [ngClass]="{active_btn: file}">Добавить</button>
  </div>
</form>
