<h1 class="title_info">Все заявки</h1>
<div class="message_block">
  <ul class="message_table">
    <li class="message_table_tr border_dev">
      <span class="th_title f-bold">Имя</span>
      <span class="th_title f-bold">Номер</span>
      <span class="th_title f-bold">E-mail</span>
    </li>
    <li class="message_table_tr">
      <span class="th_title">Sherzod</span>
      <span class="th_title">+998935817668</span>
      <span class="th_title">tulkunovsher69@gmail.com</span>
    </li>
    <li class="message_table_tr">
      <span class="th_title">Xojiakbar</span>
      <span class="th_title">+998935817668</span>
      <span class="th_title">tulkunovsher69@gmail.com</span>
    </li>
    <li class="message_table_tr">
      <span class="th_title">Bekali</span>
      <span class="th_title">+998935817668</span>
      <span class="th_title">tulkunovsher69@gmail.com</span>
    </li>
    <li class="message_table_tr">
      <span class="th_title">Umar</span>
      <span class="th_title">+998935817668</span>
      <span class="th_title">tulkunovsher69@gmail.com</span>
    </li>
    <li class="message_table_tr">
      <span class="th_title">Bohodir</span>
      <span class="th_title">+998935817668</span>
      <span class="th_title">tulkunovsher69@gmail.com</span>
    </li>
  </ul>
</div>
