.title_info{
  color: #222222;
  font-size: 20px;
  margin-bottom: 15px;
  padding-left: 10px;
  user-select: none;
}
.message_table{
  flex-direction: column;
  display: flex;
  margin-top: 20px;
  text-align: center;
  width: 100%;
  vertical-align: middle;
}
.message_table_tr{
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;
}
.f-bold{
  font-weight: 600;
  user-select: none;
}
.th_title{
  width: 30%;
  text-align: center;
}
.message_table_tr{
  padding-bottom: 10px;
  border-bottom: 1px solid #CCCCCC;
}
.border_dev{
  border: none;
}
