<div class="form_block">
  <h1 class="title_info">Главная страница</h1>
  <div class="file_select_block">
    <div class="add_photo">
      <input type="file" class="file_select">
    </div>
    <p class="info_des">Добавить логотип партнёров</p>
  </div>
  <div class="file_select_block">
    <div class="add_photo">
      <input type="file" class="file_select">
    </div>
    <p class="info_des">Добавить фото в раздел "Мы поставляем"</p>
  </div>
</div>
<div class="form_block">
  <h1 class="title_info">О Компании</h1>
  <div class="file_select_block">
    <div class="add_photo">
      <input type="file" class="file_select">
    </div>
    <p class="info_des">Добавить фото сотрудников</p>
  </div>
</div>
<div class="add_data_block">
  <button class="add_data">Добавить</button>
</div>
