<div class="form_block">
  <h1 class="title_info">Главная страница</h1>
  <label for="logo">
    <div class="file_select_block">
      <div class="add_photo">
        <input type="file" class="file_select" id="logo" (change)="onFileSelected($event)">
      </div>
      <p class="info_des">{{file?.name || "Добавить логотип партнёров"}}</p>
    </div>
  </label>
  <label for="photo">
    <div class="file_select_block">
      <div class="add_photo">
        <input type="file" class="file_select" id="photo" (change)="onFileChange($event)">
      </div>
      <p class="info_des">{{fileSupply?.name || "Добавить фото в раздел \"Мы поставляем\""}}</p>
    </div>
  </label>
</div>
<div class="form_block">
  <h1 class="title_info">О Компании</h1>
 <label for="employees">
   <div class="file_select_block">
     <div class="add_photo">
       <input type="file" class="file_select" id="employees" (change)="onFileChangeEmployers($event)">
     </div>
     <p class="info_des">{{fileEmployers?.name || "Добавить фото сотрудников"}}</p>
   </div>
 </label>
</div>
<div class="add_data_block">
  <button class="add_data" [disabled]="!file || !fileSupply || !fileEmployers" [ngClass]="{active_btn: file}">Добавить</button>
</div>
