.title_info{
  color: #222222;
  font-size: 20px;
  margin-bottom: 15px;
  padding-left: 10px;
  user-select: none;
}
.add_data_block{
  display: flex;
  justify-content: flex-end;
}
.add_data{
  text-align: center;
  padding: 14px 20px;
  background: #0a1f3d;
  border-radius: 16px;
  border: 1px solid transparent;
  font-size: 12px;
  text-transform: uppercase;
  font-weight: 600;
  color: #ffffff;
  cursor: pointer;
}
.add_data:hover{
  background:#ffffff;
  border: 1px solid #cccccc;
  color: #0a1f3d;
  box-shadow: 1px 1px 10px #0a1f3d;
}
/*.edit_data:hover{*/
/*    background:#ffffff;*/
/*    border: 1px solid #cccccc;*/
/*    color: #0a1f3d;*/
/*    box-shadow: 1px 1px 10px #0a1f3d;*/
/*}*/
/*.delete_data:hover{*/
/*    background:#ffffff;*/
/*    border: 1px solid #cccccc;*/
/*    color: #b60505;*/
/*    box-shadow: 1px 1px 10px #b60505;*/
/*}*/
.edit_data{
  margin-left: 15px;
}
.property-block ul{
  width: 100%;
}
.p-nav-panel{
  display: flex;
  margin-bottom: 30px;
}
.p-b-des-text{
  font-size: 18px;
  font-weight: 400;
  line-height: 22px;
  font-style: normal;
  margin-bottom: 20px;
  width: 64%;
}
.p-b-title-text{
  font-size: 18px;
  font-weight: 600;
  line-height: 25px;
  font-style: normal;
}
.p-item-block{
  margin-top: 30px;
}
.p-b-des-text{
  font-size: 18px;
  font-weight: 400;
  line-height: 22px;
  font-style: normal;
  margin-bottom: 20px;
  width: 64%;
}
.mar-b-10{
  margin-bottom: 10px;
}
.p-title{
  font-style: normal;
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 24px;
}
.p-ul-des{
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 16px ;
}
.mar-b-30{
  margin-bottom: 30px;
}
.property-block{
  background: #ffffff;
  padding: 30px 20px;
  border: 1px solid #CCCCCC;
  border-radius: 16px;
}
