<h1 class="title_info">Все товары</h1>
<div class="product_list_block">
  <div class="product_container">
    <div class="product_img_block">
      <img src="assets/tractorRed.png" alt="" class="product_img">
    </div>
    <div class="product_des_block">
      <p class="product_text">Трактор 6996</p>
    </div>
  </div>
  <div class="add_data_block">
    <button class="edit_data">Добавить в популярные модели</button>
    <a routerLink="/edit"><button class="edit_data">Редактирование</button></a>
    <button class="edit_data delete_data">Удалить</button>
  </div>
</div>
<div class="product_list_block">
  <div class="product_container">
    <div class="product_img_block">
      <img src="assets/tractorRed.png" alt="" class="product_img">
    </div>
    <div class="product_des_block">
      <p class="product_text">Трактор 6996</p>
    </div>
  </div>
  <div class="add_data_block">
    <button class="edit_data">Добавить в популярные модели</button>
    <a routerLink="/edit"><button class="edit_data">Редактирование</button></a>
    <button class="edit_data delete_data">Удалить</button>
  </div>
</div>
<div class="product_list_block">
  <div class="product_container">
    <div class="product_img_block">
      <img src="assets/tractorRed.png" alt="" class="product_img">
    </div>
    <div class="product_des_block">
      <p class="product_text">Трактор 6996</p>
    </div>
  </div>
  <div class="add_data_block">
    <button class="edit_data">Добавить в популярные модели</button>
    <a routerLink="/edit"><button class="edit_data">Редактирование</button></a>
    <button class="edit_data delete_data">Удалить</button>
  </div>
</div>
