<div class="form_block">
  <h1 class="title_info">Трактор</h1>
  <label for="add" class="file_select_item">
    <div class="file_select_block">
      <div class="add_photo">
        <input type="file" class="file_select" id="add">
      </div>
      <p class="info_des">Добавить фото</p>
    </div>
  </label>
  <div class="select_model">
    <span class="select_def_text">Категория</span>
    <button class="down_list" (click)="selectBlock = !selectBlock" [ngClass]="{active_list_category:selectBlock}">
      <svg xmlns="http://www.w3.org/2000/svg" height="1em" viewBox="0 0 448 512" class="select_icon">
        <path d="M201.4 342.6c12.5 12.5 32.8 12.5 45.3 0l160-160c12.5-12.5 12.5-32.8 0-45.3s-32.8-12.5-45.3 0L224 274.7 86.6 137.4c-12.5-12.5-32.8-12.5-45.3 0s-12.5 32.8 0 45.3l160 160z"/>
      </svg>
    </button>
  </div>
  <div class="select_block" *ngIf="selectBlock" @select>
    <ul>
      <li class="select_item">Мини-техника</li>
      <li class="select_item">Почвообработка</li>
      <li class="select_item">Посев</li>
      <li class="select_item">Внесения удобрений</li>
      <li class="select_item">Защита растений</li>
      <li class="select_item">Возделывание картофеля и других овощных культур</li>
    </ul>
  </div>
  <input type="text" class="info_input mar_def" placeholder="Название модели">
</div>
<div class="form_block">
  <h1 class="title_info">Оссобености:</h1>
  <input type="text" class="info_input " placeholder="">
  <input type="text" class="info_input" placeholder="">
  <input type="text" class="info_input " placeholder="">
  <div class="add_input">
    <div class="plus_block">
      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512" class="plus_icon">
        <path d="M256 80c0-17.7-14.3-32-32-32s-32 14.3-32 32V224H48c-17.7
                            0-32 14.3-32 32s14.3 32 32 32H192V432c0 17.7 14.3 32 32 32s32-14.3
                            32-32V288H400c17.7 0 32-14.3 32-32s-14.3-32-32-32H256V80z"/></svg>
    </div>
    <p class="info_des">Добавить поле</p>
  </div>
</div>
<div class="form_block">
  <h1 class="title_info">Двигатель</h1>
  <div class="input">
    <input type="text" class="info_input_parameter info_input"  placeholder="Имя">
    <input type="text" class="info_input_parameter info_input"  placeholder="Значение">
    <input type="text" class="info_input_parameter info_input"  placeholder="Имя">
    <input type="text" class="info_input_parameter info_input"  placeholder="Значение">
  </div>
  <div class="add_input">
    <div class="plus_block">
      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512" class="plus_icon">
        <path d="M256 80c0-17.7-14.3-32-32-32s-32 14.3-32 32V224H48c-17.7
                            0-32 14.3-32 32s14.3 32 32 32H192V432c0 17.7 14.3 32 32 32s32-14.3
                            32-32V288H400c17.7 0 32-14.3 32-32s-14.3-32-32-32H256V80z"/></svg>
    </div>
    <p class="info_des">Добавить поле</p>
  </div>
</div>
<div class="form_block">
  <h1 class="title_info">Трансмиссия</h1>
  <div class="input">
    <input type="text" class="info_input_parameter info_input"  placeholder="Имя">
    <input type="text" class="info_input_parameter info_input"  placeholder="Значение">
    <input type="text" class="info_input_parameter info_input"  placeholder="Имя">
    <input type="text" class="info_input_parameter info_input"  placeholder="Значение">
  </div>
  <div class="add_input">
    <div class="plus_block">
      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512" class="plus_icon">
        <path d="M256 80c0-17.7-14.3-32-32-32s-32 14.3-32 32V224H48c-17.7
                            0-32 14.3-32 32s14.3 32 32 32H192V432c0 17.7 14.3 32 32 32s32-14.3
                            32-32V288H400c17.7 0 32-14.3 32-32s-14.3-32-32-32H256V80z"/></svg>
    </div>
    <p class="info_des">Добавить поле</p>
  </div>
</div>
<div class="form_block">
  <h1 class="title_info">Стандартная комплектация</h1>
  <div class="input">
    <input type="text" class="info_input_parameter info_input"  placeholder="Имя">
    <input type="text" class="info_input_parameter info_input"  placeholder="Значение">
    <input type="text" class="info_input_parameter info_input"  placeholder="Имя">
    <input type="text" class="info_input_parameter info_input"  placeholder="Значение">
  </div>
  <div class="add_input">
    <div class="plus_block">
      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512" class="plus_icon">
        <path d="M256 80c0-17.7-14.3-32-32-32s-32 14.3-32 32V224H48c-17.7
                            0-32 14.3-32 32s14.3 32 32 32H192V432c0 17.7 14.3 32 32 32s32-14.3
                            32-32V288H400c17.7 0 32-14.3 32-32s-14.3-32-32-32H256V80z"/></svg>
    </div>
    <p class="info_des">Добавить поле</p>
  </div>
</div>
<div class="add_data_block">
  <button class="add_data">Добавить</button>
</div>
