<div class="form_block">
  <h1 class="title_info">Трактор</h1>
  <div class="file_select_block">
    <div class="add_photo">
      <input type="file" class="file_select">
    </div>
    <p class="info_des">Добавить фото</p>
  </div>
  <div class="select_model">
    <select>
      <option value="0">Категория </option>
      <option value="1">Мини-техника</option>
      <option value="2">Почвообработка</option>
      <option value="3">Посев</option>
      <option value="4">Внесения удобрений</option>
      <option value="5">Защита растений</option>
      <option value="6">Возделывание картофеля и других овощных культур</option>
    </select>
  </div>
  <input type="text" class="info_input mar_def" placeholder="Название модели">
</div>
<div class="form_block">
  <h1 class="title_info">Оссобености:</h1>
  <input type="text" class="info_input " placeholder="">
  <input type="text" class="info_input" placeholder="">
  <input type="text" class="info_input " placeholder="">
  <div class="add_input">
    <div class="plus_block">
      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512" class="plus_icon">
        <path d="M256 80c0-17.7-14.3-32-32-32s-32 14.3-32 32V224H48c-17.7
                            0-32 14.3-32 32s14.3 32 32 32H192V432c0 17.7 14.3 32 32 32s32-14.3
                            32-32V288H400c17.7 0 32-14.3 32-32s-14.3-32-32-32H256V80z"/></svg>
    </div>
    <p class="info_des">Добавить поле</p>
  </div>
</div>
<div class="form_block">
  <h1 class="title_info">Двигатель</h1>
  <div class="input">
    <input type="text" class="info_input_parameter info_input"  placeholder="Имя">
    <input type="text" class="info_input_parameter info_input"  placeholder="Значение">
    <input type="text" class="info_input_parameter info_input"  placeholder="Имя">
    <input type="text" class="info_input_parameter info_input"  placeholder="Значение">
  </div>
  <div class="add_input">
    <div class="plus_block">
      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512" class="plus_icon">
        <path d="M256 80c0-17.7-14.3-32-32-32s-32 14.3-32 32V224H48c-17.7
                            0-32 14.3-32 32s14.3 32 32 32H192V432c0 17.7 14.3 32 32 32s32-14.3
                            32-32V288H400c17.7 0 32-14.3 32-32s-14.3-32-32-32H256V80z"/></svg>
    </div>
    <p class="info_des">Добавить поле</p>
  </div>
</div>
<div class="form_block">
  <h1 class="title_info">Трансмиссия</h1>
  <div class="input">
    <input type="text" class="info_input_parameter info_input"  placeholder="Имя">
    <input type="text" class="info_input_parameter info_input"  placeholder="Значение">
    <input type="text" class="info_input_parameter info_input"  placeholder="Имя">
    <input type="text" class="info_input_parameter info_input"  placeholder="Значение">
  </div>
  <div class="add_input">
    <div class="plus_block">
      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512" class="plus_icon">
        <path d="M256 80c0-17.7-14.3-32-32-32s-32 14.3-32 32V224H48c-17.7
                            0-32 14.3-32 32s14.3 32 32 32H192V432c0 17.7 14.3 32 32 32s32-14.3
                            32-32V288H400c17.7 0 32-14.3 32-32s-14.3-32-32-32H256V80z"/></svg>
    </div>
    <p class="info_des">Добавить поле</p>
  </div>
</div>
<div class="form_block">
  <h1 class="title_info">Стандартная комплектация</h1>
  <div class="input">
    <input type="text" class="info_input_parameter info_input"  placeholder="Имя">
    <input type="text" class="info_input_parameter info_input"  placeholder="Значение">
    <input type="text" class="info_input_parameter info_input"  placeholder="Имя">
    <input type="text" class="info_input_parameter info_input"  placeholder="Значение">
  </div>
  <div class="add_input">
    <div class="plus_block">
      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512" class="plus_icon">
        <path d="M256 80c0-17.7-14.3-32-32-32s-32 14.3-32 32V224H48c-17.7
                            0-32 14.3-32 32s14.3 32 32 32H192V432c0 17.7 14.3 32 32 32s32-14.3
                            32-32V288H400c17.7 0 32-14.3 32-32s-14.3-32-32-32H256V80z"/></svg>
    </div>
    <p class="info_des">Добавить поле</p>
  </div>
</div>
<div class="add_data_block">
  <button class="add_data">Добавить</button>
</div>
