
.info_input{
  width: 100%;
  font-size: 16px;
  padding: 18px 16px ;
  border-radius: 16px;
  margin-bottom: 15px;
  border: 1px solid #cccccc ;
}
.info_input:focus{
  border: 1px solid #0a1f3d;
}
.file_select_block:active{
  border: 1px solid #0a1f3d;
}
.info_input::placeholder{
  color: #222222;
}
.add_input:active{
  border: 1px solid #0a1f3d;
}
.select_model {
  position: relative;
  margin-bottom: 20px;
}
.select_model select {
  display: none;
}
.select-selected {
  background-color: #ffffff;
  user-select: none;
}
.select-selected:after {
  position: absolute;
  content: "";
  top: 50%;
  right: 20px;
  width: 0;
  height: 0;
  border: 6px solid transparent;
  border-color: #222222 transparent transparent transparent;
}
.select-selected.select-arrow-active:after {
  content: '';
  border-color: transparent transparent #222222 transparent;
  top: 50%;
  transform: translateY(-50%);
}
.select-selected.select-arrow-active{
  border-radius: 16px 16px 0 0;
  border: 1px solid #0a1f3d;
}
.select-items div,.select-selected {
  color: #222222;
  padding: 18px 16px;
  cursor: pointer;
}
.select-selected{
  border: 1px solid #cccccc;
  border-radius: 16px;
}

.select-items {
  position: absolute;
  background-color: #ffffff;
  top: 100%;
  left: 0;
  right: 0;
  z-index: 99;
  border-radius:  0 0 16px 16px ;
  border: 1px solid #cccccc;

}

.select-hide {
  display: none;
}

.select-items div:hover, .same-as-selected {
  background-color: rgba(42, 132, 255, 0.5);
  border-radius: 0;
}
.input{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.info_input_parameter{
  width: 700px;
}
.title_info{
  color: #222222;
  font-size: 20px;
  margin-bottom: 15px;
  padding-left: 10px;
  user-select: none;
}
.form_block{
  margin-bottom: 30px;
}
.mar_def{
  margin: 0;
}
.mar_t{
  margin-top: 20px;
}
.add_input{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 54px;
  background: #ffffff;
  border-radius: 16px;
  border: 1px solid #cccccc;
  user-select: none;
}
.plus_block{
  width: 20px ;
  height: 20px;
  border-radius: 50%;
  border: 1px solid #2a84ff;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.plus_icon{
  width: 10px;
  height: 10px;
  fill: #2a84ff;
}
.file_select_block{
  width: 100%;
  background: #ffffff;
  border-radius: 16px;
  margin-bottom: 20px;
  height: 54px;
  padding: 4px 14px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #cccccc;
}
.file_select{
  opacity: 0;
  cursor: pointer;
  width: 40px;
  height: 40px;
}
.add_photo{
  width: 30px;
  height: 30px;
  background: url("/assets/img_iconefault.png");
  background-repeat: no-repeat;
  background-size: contain;
  display: inline-block;
  overflow: hidden;
  cursor: pointer;
}
.info_des{
  font-size: 16px;
  color: #222222;
  margin-left: 15px;
}
.info_des{
  font-size: 16px;
  color: #222222;
}
.add_data_block{
  display: flex;
  justify-content: flex-end;
}
.add_data{
  text-align: center;
  padding: 14px 20px;
  background: #0a1f3d;
  border-radius: 16px;
  border: 1px solid transparent;
  font-size: 12px;
  text-transform: uppercase;
  font-weight: 600;
  color: #ffffff;
  cursor: pointer;
}
.add_data:hover{
  background:#ffffff;
  border: 1px solid #cccccc;
  color: #0a1f3d;
  box-shadow: 1px 1px 10px #0a1f3d;
}
@media (max-width: 1450px) {
  .container{
    padding: 0 calc((100% - 1220px) / 2 );
  }
  .info_input_parameter{
    width: 585px;
  }
}
